/* Elite Dark & Deep Wine Theme */
body {
    background-color: #050505 !important;
    background-image:
        radial-gradient(at 0% 0%, #1a0000 0px, transparent 50%),
        radial-gradient(at 100% 100%, #1a0000 0px, transparent 50%) !important;
    color: #dcdcdc;
    margin: 0;
    min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ef4444;
    /* Pure red hover */
}